spring:
  application:
    name: identity-service

  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:5432}/${DATABASE_NAME:identity}
    username: ${DATABASE_USERNAME:identity_admin}
    password: ${DATABASE_PASSWORD:postgres}
    hikari:
      connection-init-sql: SET TIMEZONE TO 'Europe/Istanbul'
      pool-name: node-adapter-hikari
      minimum-idle: 5
      maximum-pool-size: 20
      auto-commit: false
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      validation-timeout: 5000
      connection-test-query: SELECT 1

  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  port: ${SERVER_PORT:7102}

admin:
  registration:
    enabled: true

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}

management:
  endpoints:
    web:
      exposure:
        include: health